<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/footer.css">
    <title>Footer Component</title>
</head>

<body>
    <footer class="footer">
        <div class="footer-content">
            <div class="section">
                <h3>BTEC</h3>
                <div class="information">
                    <p>Website: <a href="https://btec.fpt.edu.vn/">BTEC</a></p>
                    <p>Facebook Page: <a href="https://www.facebook.com/fptbtec">BTEC</a></p>
                </div>
            </div>
            <div class="section">
                <h3>BIT</h3>
                <div class="information">
                    <p>Facebook Page: <a href="https://www.facebook.com/profile.php?id=61550777080606">BIT</a></p>
                </div>
            </div>
        </div>
        <p>&copy; 2024 My Website. All rights reserved.</p>
    </footer>
</body>

</html>
