<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <title>Header Component</title>
</head>
<body>
    <header class="header">
        <div class="logo-BTEC">
            <img src="../../assets/images/BTEC-LogoTransparent.png" alt="BTEC Logo">
        </div>
        <h1 class="title">BTEC FOOTBALL TOURNAMENT</h1>
        <div class="logo-BIT">
            <img src="../../assets/images/BIT-LogoTransparent.png" alt="BIT Logo">
        </div>
    </header>
</body>
</html>
